.contact {
    background: rgb(37,99,235);
    background: linear-gradient(180deg, rgba(37,99,235,0.25) 0%, rgba(255,255,255,0.50) 50%);
    border-top: solid 1px var(--gray-100);

    background-image: url('../../public/bgcontact.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: var(--max-width);
    margin: auto;
    width: 100%;
    padding: 8rem 0;
}

@media screen and (max-width: 1200px){
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
