.about{
    background: url('../../public/bluebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 11rem;
    padding-bottom: 8rem;
    gap: 2rem;
}

.content{
    color: var(--white);
}

.content .title{
	font-size: 3.5rem;
    line-height: 1;
    padding-bottom: 0.5rem;
    font-weight: 200;
}

.content .subtitle{
	font-size: 3.5rem;
    line-height: 1;
    padding-bottom: 1.5rem;
    font-weight: 900;
}

.content p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-bottom: 2rem;
}

.ctaButton{
    display: flex;
}

.content  a{
    width: fit-content;
    background: var(--pink-500);
    border: 1px solid var(--pink-500);
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 8, 50, 0.29) 0px 0.48175px 1px -1px, rgba(17, 8, 50, 0.255) 0px 1px 2px -1px, rgba(17, 8, 50, 0.1) 0px 2px 5px -1px;
    gap: 0.5rem;
    transition: color 0.3s, background-color 0.3s;
}

.content a:hover{
    background: var(--blue-300);
    color: var(--white);
    gap: 1rem;
    border: solid 1px var(--blue-100);
}

.about .cover{
    width: 24rem;
    height: 34.375rem;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(17, 8, 50, 0.29) 0px 0.48175px 1px -1px, rgba(17, 8, 50, 0.255) 0px 1px 2px -1px, rgba(17, 8, 50, 0.1) 0px 2px 5px -1px;
}

@media screen and (max-width: 1200px){
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 820px){
    .container{
        flex-direction: column;
    }

    .content{
        padding-bottom: 3rem;

    }

    .about .cover{
        width: 100%;
        height: 25rem;
    }

    .ctaButton{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 500px){
    .content{
        text-align: center;
    }

    .content .title{
        font-size: 10vw;
    }

    .content .subtitle{
        font-size: 10vw;
    }
}